{% extends "baza.html" %}
{% block link %}
    {% if request.user.is_authenticated %}
    <li class="nav-item">
        <a href="{% url "webapp:article_update_view" article.pk %}" class="nav-link">Редактирование</a>
    </li>
    <li class="nav-item">
        <a href="{% url "webapp:article_delete_view" article.pk %}" class="nav-link">Удаление</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
<div class="card-body">
    <h5 class="card-title">{{ article.title }}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
    <p class="card-text">{{ article.content }}</p>
    <p class="card-text">дата изменения: {{ article.updated_at | date:'Y-m-d' }}</p>
    <a href="/" class="card-link">На главную</a>
</div>
    <h5>Теги</h5>
    <p>
        {% for genres in article.genres.all %}
            {{ genres.name }}
            {% if not forloop.last %},
            {% else %} .
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}
