{% extends "baza.html" %}


{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "article_add" %}">Создание статьи</a>
    </li>
{% endblock %}
{% block content %}
    <h1>TASKS!</h1>
{% for article in articles %}
    <div class="card mb-2 mt-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}<p><a href="{% url "deleting_view" article.pk %}">delete</a></p></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
            <p class="card-text">{{ article.content }}</p>
            <p><a href="{% url "article_view" article.pk %}" class="card-link">Детальный просмотр</a></p><p><a href="{% url "article_update" article.pk %}" class="card-link">Update</a></p>
        </div>
    </div>
{% endfor %}
{% endblock %}
